html { 
  
}

body
{
   	font-family: 'Montserrat', sans-serif;
	color: #403e3b;
	margin: 0px;
	padding: 0px;
    background: url(../images/61b4135b.png) repeat;
    min-width: 1100px;
}

img
{
	border: 0;
	border-width: 0px;
}

a
{
   text-decoration: none;
}

div#header
{
    background-color: #3949ab;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.30);
    position: relative;
}

div#header .back-button
{
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 40px;
    padding: 2px 6px 0px 2px;
}

div#header .back-button:hover
{
    background-color: #4757bb;    
    cursor: pointer;
}

div#header .caption
{
    float:  left;
    margin-top: 10px;
    font-size: 32px;
    color: #ffffff;
    margin-left: 12px;
}

div#container
{
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    padding: 40px 120px 40px 120px;
    padding-bottom: 30px;
}

.s_container 
{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

div.sl {
    height: 50px;
    position: absolute;
    top: 0;
    width: 497px;
    left: 0;
    background: url(http://static.tumblr.com/aoqeoea/dB2mioknh/leftheadershadow.png) no-repeat 0 0;
}

div.sm {
    height: 49px;
    position: absolute;
    top: 0;
    width: auto;
    left: 497px;
    right: 487px;
    background: url(http://static.tumblr.com/aoqeoea/JrNmiol0g/middleshadowfiller.png) repeat-x 0 0;
}

div.sr {
    height: 50px;
    position: absolute;
    top: 0;
    width: 487px;
    right: 0;
    background: url(http://static.tumblr.com/aoqeoea/8rcmiol2f/rightheadershadow.png) no-repeat 0 0;
}

@media only screen and (max-width: 1000px) 
{
	div.sm {
		left: 0px;
		right: 0px;
	}

	div.sr {
		background: none;
		width: 0px;
	}
	div.sl {
		background: none;
		width: 0px;
	}
}

h1
{
    font-weight: 800;
    font-size: 84px;
    margin: 0px;
    text-transform: uppercase;
}

h2
{
    font-weight: 800;
    font-size: 48px;
    margin: 0px;
    text-transform: uppercase;
}

.center
{
    text-align: center;
}

hr
{
    border: 0px;
    background-color: #403e3b;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 2px;
}

hr.xl
{
    height: 6px;
}


.date-container
{

}

div.content
{
    margin-left: 20px;
    margin-right: 20px;
}

div#intro
{
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 60px;
}

div.project .caption
{
    position: relative;
    height: 50px;
}

div.project .caption h3.title
{
    float: left;
    display: inline-block;
}

div.project .caption h3.date
{
    float: right;
    display: inline-block;
}

div.project .description
{
    margin-bottom: 20px;
}

div.project .image
{
    text-align: center;
}

div.project .image img
{
    
}

.tag-container div
{
    float: left;
    padding: 4px 10px 4px 10px;
    background-color: #385abf;
    margin: 0px 10px 10px 0px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.semibold
{
    font-weight: 500;
}

div.copyright
{
    text-align: center;
    margin-bottom: 30px;
}