html { 
  background: url(../images/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
   	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

#fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(8, 29, 56, 1);
}

h1
{
	margin-top: 0px;
	padding-top: 0px;
	color: #ffffff;
	margin-bottom: 0px;
	padding-bottom :0px;
}

img
{
	border: 0;
	border-width: 0px;
}


#content
{
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	position: relative;
    font-size: 1.500rem;
	font-weight: 300;
    line-height: 1.35;
    max-width: 800px;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 768px) 
{
	#content
	{
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.6;
	}
}

#linked-in-box
{
    margin-top: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    padding: 8px 40px 8px 40px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-bottom: 100px;
}

a
{
   text-decoration: none;
   font-weight: 600;
}

#linked-in-box:hover
{
    background-color: rgba(255, 255, 255, 0.08);
	cursor: pointer;
}

#footer p
{
	font-weight: 600;
	font-size: 14px;
	padding-left: 5%;
	padding-right: 5%;
}

#footer
{
	width: 100%;
	position: fixed;
	bottom: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(241, 241, 241, 0.5);
}

div.shadow_container {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

div.sl {
    height: 50px;
    position: absolute;
    top: 0;
    width: 497px;
    left: 0;
    background: url(http://static.tumblr.com/aoqeoea/dB2mioknh/leftheadershadow.png) no-repeat 0 0;
}

div.sm {
    height: 49px;
    position: absolute;
    top: 0;
    width: auto;
    left: 497px;
    right: 487px;
    background: url(http://static.tumblr.com/aoqeoea/JrNmiol0g/middleshadowfiller.png) repeat-x 0 0;
}

div.sr {
    height: 50px;
    position: absolute;
    top: 0;
    width: 487px;
    right: 0;
    background: url(http://static.tumblr.com/aoqeoea/8rcmiol2f/rightheadershadow.png) no-repeat 0 0;
}

@media only screen and (max-width: 1000px) 
{
	div.sm {
		left: 0px;
		right: 0px;
	}

	div.sr {
		background: none;
		width: 0px;
	}
	div.sl {
		background: none;
		width: 0px;
	}
}

@media only screen and (max-width: 768px) 
{
	div.sm {
		background: none;
		width: 0px;
	}

	div.sr {
		background: none;
		width: 0px;
	}
	div.sl {
		background: none;
		width: 0px;
	}
}
