body
{
   	font-family: 'Montserrat', sans-serif;
	color: #555555;
	margin: 0px;
	padding: 0px;
}

h1
{
	margin-top: 0px;
	padding-top: 0px;
	color: #636363;
	margin-bottom: 0px;
	padding-bottom :0px;
}

img
{
	border: 0;
	border-width: 0px;
}

.highlight
{
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}

#content
{
	padding-left: 5%;
	padding-right: 25%;
	margin-left: auto; 
	margin-right: auto;
	text-align: left;
	position: relative;
	top: 100px;
    font-size: 1.725rem;
	font-weight: 200;
    line-height: 1.35;
}

@media only screen and (max-width: 768px) 
{
	#content
	{
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.6;
		padding-left: 5%;
		padding-right: 5%;
		top: 50px;
	}
}

#linked-in-box
{
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    background-color: #dadada;
    border-color: #dadada;
    color: #383838;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
    margin-bottom: 100px;
}

a
{
   text-decoration: none;
   font-weight: 600;
}

#linked-in-box:hover
{
	color: #000000;
	cursor: pointer;
}

#footer p
{
	font-weight: 600;
	font-size: 14px;
	padding-left: 5%;
	padding-right: 5%;
}

#footer
{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f1f1f1;
}

#linkedin
{
	width: 48px;
	height: 48px;
	position: fixed;
	right:10px;
	bottom: 15px;
	z-index: 9999;
}

#linkedin:hover
{
	content:url(../images/linkedin_hover.png); 
}

div.shadow_container {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

div.sl {
    height: 50px;
    position: absolute;
    top: 0;
    width: 497px;
    left: 0;
    background: url(http://static.tumblr.com/aoqeoea/dB2mioknh/leftheadershadow.png) no-repeat 0 0;
}

div.sm {
    height: 49px;
    position: absolute;
    top: 0;
    width: auto;
    left: 497px;
    right: 487px;
    background: url(http://static.tumblr.com/aoqeoea/JrNmiol0g/middleshadowfiller.png) repeat-x 0 0;
}

div.sr {
    height: 50px;
    position: absolute;
    top: 0;
    width: 487px;
    right: 0;
    background: url(http://static.tumblr.com/aoqeoea/8rcmiol2f/rightheadershadow.png) no-repeat 0 0;
}

@media only screen and (max-width: 1000px) 
{
	div.sm {
		left: 0px;
		right: 0px;
	}

	div.sr {
		background: none;
	}
	div.sl {
		background: none;
	}
}

@media only screen and (max-width: 768px) 
{
	div.sm {
		background: none;
	}

	div.sr {
		background: none;
	}
	div.sl {
		background: none;
	}
}
