body
{
   	font-family: 'Montserrat', sans-serif;
	color: #555555;
}

img
{
	border: 0;
	border-width: 0px;
}

.highlight
{
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}

#content
{
	padding-left: 5%;
	padding-right: 25%;
	margin-left: auto; 
	margin-right: auto;
	text-align: left;
	position: relative;
	top: 100px;
    font-size: 1.725rem;
	font-weight: 200;
    line-height: 1.35;
}

@media only screen and (max-width: 768px) 
{
	#content
	{
		width: auto; 
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.6;
		padding-left: 5%;
		padding-right: 5%;
		top: 50px;
	}
}

#linked-in-box
{
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    background-color: #dadada;
    border-color: #dadada;
    color: #383838;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}

a
{
   text-decoration: none;
   font-weight: 600;
}

#linked-in-box:hover
{
	color: #000000;
	cursor: pointer;
}

